<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>Teachable Machine Pose Model</div>
<div><input id=posenettext type="text" size="100"></div>
<button type="button" onclick="init()">Start</button>

<div id="label-container"></div>

<script src="./model_test.js"></script>
<script src="./tf.min.js"></script>
<script src="./teachablemachine-pose.min.js"></script>


</body>

</html>
